@model Bolum
@{
    ViewData["Title"] = "Detay";
}
<div class="row">
    <div class="col-xl-4 col-sm-6 col-12 d-flex">
        <div class="card bg-comman w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-info">
                        <h6>Ders Sayısı</h6>
                        <h3>
                            @Model.Dersler.Count()
                        </h3>
                    </div>
                    <div class="db-icon">
                        <img width="60px" src="https://cdn3d.iconscout.com/3d/premium/thumb/geography-book-8013528-6430667.png" alt="Dashboard Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 col-12 d-flex">
        <div class="card bg-comman w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-info">
                        <h6>Öğretmen Sayısı</h6>
                        <h3>
                            @Model.Ogretmensler.Count()
                        </h3>
                    </div>
                    <div class="db-icon">
                        <img width="60px" src="https://cdn3d.iconscout.com/3d/premium/thumb/male-teacher-10074802-8187379.png" alt="Dashboard Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 col-12 d-flex">
        <div class="card bg-comman w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-info">
                        <h6>Öğrenci Sayısı</h6>
                        <h3>
                            @Model.Ogrencisler.Count()
                        </h3>
                    </div>
                    <div class="db-icon">
                        <img width="60px" src="https://cdn3d.iconscout.com/3d/premium/thumb/male-graduate-student-9638045-7889079.png" alt="Dashboard Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card border border-light">
                <div class="card-header bg-light text-white">
                    <h3 class="card-title text-center">DERSLER</h3>
                </div>
                <div style="overflow-y: auto; max-height: 420px;">
                    <table class="table table-bordered table-striped table-custom mb-0">
                        <thead>
                            <tr class="text-nowrap">
                                <th scope="col">Ders Adı</th>
                                <th scope="col">Ders Kodu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var bolum in Model.Dersler)
                            {
                                <tr>
                                    <td>@bolum.DersAd</td>
                                    <td>@bolum.DersKod</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-light">
                <div class="card-header bg-light text-white">
                    <h3 class="card-title text-center">ÖĞRETMENLER</h3>
                </div>
                <div style="overflow-y: auto; max-height: 420px;">
                    <table class="table table-bordered table-striped table-custom mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Öğretmen Adı</th>
                                <th scope="col">Öğretmen E-Posta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ogretmens in Model.Ogretmensler)
                            {
                                <tr>
                                    <td>@ogretmens.OgretmenAdSoyad</td>
                                    <td>@ogretmens.OgretmenEposta</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-light">
                <div class="card-header bg-light text-white">
                    <h3 class="card-title text-center">ÖĞRENCİLER</h3>
                </div>
                <div style="overflow-y: auto; max-height: 420px;">
                    <table class="table table-bordered table-striped table-custom mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Öğrenci Adı</th>
                                <th scope="col">Öğrenci E-Posta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ogrencis in Model.Ogrencisler)
                            {
                                <tr>
                                    <td>@ogrencis.OgrenciAdSoyad</td>
                                    <td>@ogrencis.OgrenciEposta</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

