@model IEnumerable<Bolum>
@{
    ViewData["Title"] = "Index";
}
<div class="student-group-form">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ID'ye Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="İsme Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Yıla Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="btn" class="btn btn-primary">Ara</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Bölümler</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> İndir</a>
                            <a href="add-department.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>

                <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                    <thead class="student-thread">
                        <tr>
                            <th>
                                <div class="form-check check-tables">
                                    <input class="form-check-input" type="checkbox" value="something">
                                </div>
                            </th>
                            <th>ID</th>
                            <th>Bölüm Adı</th>
                            <th>Bölüm Başkanı</th>
                            <th>Öğretmen Sayısı</th>
                            <th>Öğrenci Sayısı</th>
                            <th>Ders Sayısı</th>
                            <th class="text-end">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bolum in Model)
                        {
                            <tr>
                                <td>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input" type="checkbox" value="something">
                                    </div>
                                </td>
                                <td>@bolum.Id</td>
                                <td>
                                    <h2>
                                        <a>@bolum.BolumAd</a>
                                    </h2>
                                </td>
                                <td>@bolum.BolumBaskani</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a href="javascript:;" class="btn btn-sm bg-success-light me-2">
                                            <i class="feather-eye"></i>
                                        </a>
                                        <a asp-action="Ekle_Guncelle" asp-controller="Bolum" asp-route-id="@bolum.Id" class="btn btn-sm bg-danger-light">
                                            <i class="feather-edit"></i>
                                        </a>
                                        <a asp-action="Sil" asp-controller="Bolum" asp-route-id="@bolum.Id" class="btn btn-sm bg-danger-light">
                                            <i class="feather-trash-2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (TempData["success"] != null)
{
    <script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>

    <script>
        var successMessage = "@TempData["success"]";

        Swal.fire({
            title: successMessage,
            icon: "success"
        });
    </script>
}


