@{
	ViewData["Title"] = "Duyurular";
}
@model List<Duyuru>

<div class="row">
	<div class="col-md-9">
		<h3>Tüm Duyurular</h3>
	</div>
	<div class="col-md-3 text-md-end">
		<a asp-controller="Duyuru" asp-action="Ekle_Guncelle" asp-route-id="0" class="btn btn-primary btn-blog mb-3"><i class="feather-plus-circle me-1"></i> Yeni Ekle</a>
	</div>
</div>

<div class="row">

	@if (Model.Count() != 0)
	{
		@foreach (var duyuru in Model)
		{
			<div class="col-md-6 col-xl-4 col-sm-12 d-flex">
				<div class="blog grid-blog flex-fill">
					<div class="blog-image">
						<a href="blog-details.html"><img style="height: 250px; width:600px" class="img-fluid" src="https://www.creativefabrica.com/wp-content/uploads/2019/04/University-icon-by-marco.livolsi2014-5-580x386.jpg" alt="Ana Resim"></a>
					</div>
					<div class="blog-content">
						<ul class="entry-meta meta-item">
							<li>
								<div class="post-author">
									<a href="profile.html">
										<img src="https://webupload.gazi.edu.tr/upload/30/2022/8/12/1e7b0909-dabc-49c6-8ae3-b03b3fd19928-ogrenci-bilgi-sistemi.png" alt="Yazar Resim">
										<span>
											@if (duyuru.OgretmensId != null)
											{
												<span class="post-title">@duyuru.Ogretmens?.OgretmenAdSoyad</span>
											}
											else
											{
												<span class="post-title">Admin</span>
											}
											<span class="post-date"><i class="far fa-clock"></i> @duyuru.OlusturmaTarihi</span>
										</span>
									</a>
								</div>
							</li>
						</ul>
						<h3 class="blog-title"><a href="blog-details.html">@duyuru.DuyuruBaslik </a></h3>
						<p>@duyuru.DuyuruMesaj</p>
					</div>

					@if (duyuru.OgretmensId == ViewBag.kullanıcıId)
					{
						<div class="row">
							<div class="edit-options">
								<div class="edit-delete-btn">
									<a asp-controller="Duyuru" asp-action="Ekle_Guncelle" asp-route-id="@duyuru.Id" class="text-success"><i class="feather-edit-3 me-1"></i> Düzenle</a>
									<a onclick="confirmDelete(@duyuru.Id)" class="btn btn-sm bg-danger-light">
										<i class="feather-trash-2"></i>
									</a>
								</div>
							</div>
						</div>
					}

				</div>
			</div>

		}
	}
	else
	{
		<div class="blog grid-blog flex-fill">
			<h3 class="text-danger" style="text-align:center"> Duyuru Bulunmamaktadır! </h3>
		</div>
	}
</div>

@if (TempData["success"] != null)
{
	<script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
	<script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>

	<script>
		var successMessage = "@TempData["success"]";

		Swal.fire({
			title: successMessage,
			icon: "success"
		});
	</script>
}
@section Scripts {
	<script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
	<script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>
	<script>
		function confirmDelete(id) {
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: "btn btn-success",
					cancelButton: "btn btn-danger"
				},
				buttonsStyling: false
			});
			swalWithBootstrapButtons.fire({
				title: "Silmek İstediğinize Emin Misiniz?",
				icon: "warning",
				showCancelButton: true,
				confirmButtonText: "Evet!",
				cancelButtonText: "İptal!",
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
					$.post('@Url.Action("Sil", "Duyuru")', { id: id })
						.done(() => swalWithBootstrapButtons.fire(
							"İşlem Başarılı!",
							"",
							"success"
						).then(() => window.location.href = '@Url.Action("Index", "Duyuru")'));
				} else if (
					/* Read more about handling dismissals below */
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire({
						title: "İşlem İptal Edildi!",
						text: "",
						icon: "error"
					});
				}
			});
		}
	</script>
	<script>
		function Bildirim() {
			toastr.success("Deneme", "Deneme", {
				closeButton: true,
				tapToDismiss: false,
				progressBar: true,
			});
		
		}
	</script>
}