@model IEnumerable<Ogrencis>

@{
    ViewData["Title"] = "Liste";
}
<div class="student-group-form">
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="ogrenciAdiArama" placeholder="İsme Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="bolumAdiArama" placeholder="Bölümüne Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table comman-shadow">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Öğrenciler</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a asp-controller="Ogrenci" asp-action="Ekle_Guncelle" asp-route-id="0" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0  table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>ID</th>
                                <th>Ad-Soyad</th>
                                <th>Sınıfı</th>
                                <th>Bölümü</th>
                                <th>Doğum Tarihi</th>
                                <th>E-Mail</th>
                                <th>Telefon Numarası</th>
                                <th>Kayıt Tarihi</th>
                                <th class="text-end">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ogr in Model) // Modeldeki her öğrenci için döngü
                            {
                                <tr>
                                    <th>@ogr.Id</th>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a asp-action="Index" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/img/@ogr.OgrenciFotograf" alt="User Image"></a>
                                            <a asp-action="Index">@ogr.OgrenciAd @ogr.OgrenciSoyad</a>
                                        </h2>
                                    </td>
                                    <td>@ogr.OgrenciSinif</td>
                                    <td>@ogr.Bolum?.BolumAd</td>
                                    <td>@ogr.OgrenciDogumTarihi</td>
                                    <td>@ogr.OgrenciEposta</td>
                                    <td>@ogr.OgrenciTelefon</td>
                                    <td>@ogr.OgrenciKayitTarihi</td>
                                    <td class="text-end">
                                        <div class="actions ">
                                            <a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
                                                <i class="feather-eye"></i>
                                            </a>
                                            <a asp-action="Ekle_Guncelle" asp-route-id="@ogr.Id" class="btn btn-sm bg-danger-light me-2">
                                                <i class="feather-edit"></i>
                                            </a>
                                            <a onclick="confirmDelete(@ogr.Id)" class="btn btn-sm bg-danger-light">
                                                <i class="feather-trash-2"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["success"] != null)
{
    <script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>

    <script>
        var successMessage = "@TempData["success"]";

        Swal.fire({
            title: successMessage,
            icon: "success"
        });
    </script>
}
@section Scripts {
    <script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>
    <script>
        function confirmDelete(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Silmek İstediğinize Emin Misiniz?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet!",
                cancelButtonText: "İptal!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('@Url.Action("Sil", "Ogrenci")', { id: id })
                        .done(() => swalWithBootstrapButtons.fire(
                            "İşlem Başarılı!",
                            "",
                            "success"
                        ).then(() => window.location.href = '@Url.Action("Index", "Ogrenci")'));
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire({
                        title: "İşlem İptal Edildi!",
                        text: "",
                        icon: "error"
                    });
                }
            });
        }
    </script>
 <script>
        function aramaYap() {
            var ogrenciAdiInput, bolumAdiInput, ogrenciAdiFilter, bolumAdiFilter, table, tr, td, i;
            ogrenciAdiInput = document.getElementById("ogrenciAdiArama");
            bolumAdiInput = document.getElementById("bolumAdiArama");
            ogrenciAdiFilter = ogrenciAdiInput.value.toUpperCase();
            bolumAdiFilter = bolumAdiInput.value.toUpperCase();
            table = document.querySelector(".star-student");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                tdOgrenciAdi = tr[i].getElementsByTagName("td")[0];
                tdBolumAdi = tr[i].getElementsByTagName("td")[2];
                if (tdOgrenciAdi && tdBolumAdi) {
                    ogrenciAdiValue = tdOgrenciAdi.textContent || tdOgrenciAdi.innerText;
                    bolumAdiValue = tdBolumAdi.textContent || tdBolumAdi.innerText;
                    if (ogrenciAdiValue.toUpperCase().indexOf(ogrenciAdiFilter) > -1 && bolumAdiValue.toUpperCase().indexOf(bolumAdiFilter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
 </script>
}
