
@{
    ViewData["Title"] = "DersProgramı";
}
@model List<Ders>

<div class="col-12 col-lg-12 col-xl-4 d-flex">
	<div class="card flex-fill comman-shadow">
		<div class="card-body">
			<div id="calendar-doctor" class="calendar-container"></div>
			<div class="calendar-info calendar-info1">
				<div class="upcome-event-date">
					<h3>Derslerim</h3>
				</div>

				@foreach (var ders in Model)
				{
					<div class="calendar-details">
						<p>@ders.DersGün</p>
						<div class="calendar-box normal-bg">
							<div class="calandar-event-name">
								<h4>@ders.DersAd</h4>
								<h5>@ders.Fakulte?.FakulteAd - @ders.Bolum?.BolumAd</h5>
							</div>
							<span>@ders.DersSaat</span>
						</div>
					</div>
					
				}
			</div>
		</div>
	</div>
</div>
