@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Not>

<div class="student-group-form">
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="ogrenciAdiArama" placeholder="Öğrenci İsmine Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="bolumAdiArama" placeholder="Öğrenci Bölümüne Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="col-auto text-end float-end ms-auto download-grp">
                    <a asp-controller="Not" asp-action="Ekle_Guncelle" asp-route-type="0" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
                </div>
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Not Bilgileri</h3>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0  table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>Ad-Soyad</th>
                                <th>Bölüm</th>
                                <th>Ders</th>
                                <th>Sınıf</th>
                                <th>Ödev Notu</th>
                                <th>Vize Notu</th>
                                <th>Final Notu</th>
                                <th class="text-end">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var not in Model) // Modeldeki her öğrenci için döngü
                            {
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="student-details.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/img/@not.Ogrencis?.OgrenciFotograf" alt="User Image"></a>
                                            <a href="student-details.html">@not.Ogrencis?.OgrenciAd @not.Ogrencis?.OgrenciSoyad</a>
                                        </h2>
                                    </td>
                                    <td>@not.Ogrencis?.Bolum?.BolumAd</td>
                                    <td>@not.Ders?.DersAd</td>
                                    <td>@not.Ogrencis?.OgrenciSinif</td>
                                    @if (not.NotOdev != null)
                                    {
                                        <td>@not.NotOdev</td>
                                    }
                                    else
                                    {
                                        <td>Not Girilmedi</td>
                                    }
                                    @if (not.NotVize != null)
                                    {
                                        <td>@not.NotVize</td>
                                    }
                                    else
                                    {
                                        <td>Not Girilmedi</td>
                                    }
                                    @if (not.NotFinal != null)
                                    {
                                        <td>@not.NotFinal</td>
                                    }
                                    else
                                    {
                                        <td>Not Girilmedi</td>
                                    }
                                    <td class="text-end">
                                        <div class="actions ">
                                            <a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
                                                <i class="feather-eye"></i>
                                            </a>
                                            <a asp-controller="Not" asp-action="Ekle_Guncelle" asp-route-id="@not.Id" class="btn btn-sm bg-danger-light me-2">
                                                <i class="feather-edit"></i>
                                            </a>
                                            <a asp-controller="Not" asp-action="Sil" asp-route-id="@not.Id" class="btn btn-sm bg-danger-light">
                                                <i class="feather-trash-2"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["success"] != null)
{
    <script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>

    <script>
        var successMessage = "@TempData["success"]";

        Swal.fire({
            title: successMessage,
            icon: "success"
        });
    </script>
}
@section Scripts {
    <script>
        function aramaYap() {
            var ogrenciAdiInput, bolumAdiInput, ogrenciAdiFilter, bolumAdiFilter, table, tr, td, i;
            ogrenciAdiInput = document.getElementById("ogrenciAdiArama");
            bolumAdiInput = document.getElementById("bolumAdiArama");
            ogrenciAdiFilter = ogrenciAdiInput.value.toUpperCase();
            bolumAdiFilter = bolumAdiInput.value.toUpperCase();
            table = document.querySelector(".star-student");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                tdOgrenciAdi = tr[i].getElementsByTagName("td")[0];
                tdBolumAdi = tr[i].getElementsByTagName("td")[2];
                if (tdOgrenciAdi && tdBolumAdi) {
                    ogrenciAdiValue = tdOgrenciAdi.textContent || tdOgrenciAdi.innerText;
                    bolumAdiValue = tdBolumAdi.textContent || tdBolumAdi.innerText;
                    if (ogrenciAdiValue.toUpperCase().indexOf(ogrenciAdiFilter) > -1 && bolumAdiValue.toUpperCase().indexOf(bolumAdiFilter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}