@model IEnumerable<Ogretmens>
@{
    ViewData["Title"] = "Liste";
}


<div class="student-group-form">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ID'ye Göre Ara...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="İsme Göre Ara...">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ünvana Göre Ara...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="btn" class="btn btn-primary">Ara</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table comman-shadow">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Öğretmen Listesi</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a asp-action="Ekle_Guncelle" asp-controller="Ogretmen" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0  table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>Id</th>
                                <th>Ad Soyad</th>
                                <th>Ünvan</th>
                                <th>E-Posta</th>
                                <th>Ofis</th>
                                <th>Görüşme Saati</th>
                                <th>Telefon Numarası</th>
                                <th>Doğum Tarihi</th>
                                <th>Cinsiyet</th>
                                <th>Başlama Tarihi</th>
                                <th class="text-end">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var ogr in Model)
                            {
                                <tr>
                                    <td>@ogr.Id</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="student-details.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/img/@ogr.OgretmenFotograf" alt="User Image"></a>
                                            <a href="student-details.html">@ogr.OgretmenAd @ogr.OgretmenSoyad</a>
                                        </h2>
                                    </td>
                                    <td>@ogr.OgretmenUnvan</td>
                                    <td>@ogr.OgretmenEposta</td>
                                    <td>@ogr.OgretmenOfis</td>
                                    <td>@ogr.OgretmenGorusme</td>
                                    <td>@ogr.OgretmenTelefon</td>
                                    <td>@ogr.OgretmenDogumTarihi</td>
                                    <td>@ogr.OgretmenCinsiyet</td>
                                    <td>@ogr.OgretmenBaslamaTarihi</td>
                                    <td class="text-end">
                                        <div class="actions ">
                                            <a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
                                                <i class="feather-eye"></i>
                                            </a>
                                            <a asp-action="Ekle_Guncelle" asp-controller="Ogretmen" asp-route-id="@ogr.Id" class="btn btn-sm bg-danger-light">
                                                <i class="feather-edit"></i>
                                            </a>
                                            <a onclick="confirmDelete(@ogr.Id)" class="btn btn-sm bg-danger-light">
                                                <i class="feather-trash-2"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@if (TempData["success"] != null)
{
    <script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>

    <script>
        var successMessage = "@TempData["success"]";

        Swal.fire({
            title: successMessage,
            icon: "success"
        });
    </script>
}
@section Scripts {
    <script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>
    <script>
        function confirmDelete(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Silmek İstediğinize Emin Misiniz?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet!",
                cancelButtonText: "İptal!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('@Url.Action("Sil", "Ogretmen")', { id: id })
                        .done(() => swalWithBootstrapButtons.fire(
                            "İşlem Başarılı!",
                            "",
                            "success"
                        ).then(() => window.location.href = '@Url.Action("Index", "Ogretmen")'));
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire({
                        title: "İşlem İptal Edildi!",
                        text: "",
                        icon: "error"
                    });
                }
            });
        }
    </script>
}