@model IEnumerable<Ogretmens>
@{
    ViewData["Title"] = "Liste";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Öğretmenler</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="students.html">Öğretmenler</a></li>
                    <li class="breadcrumb-item active">Tüm Öğretmenler</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="student-group-form">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ID'ye Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="İsme Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Telefon Numarasına Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="btn" class="btn btn-primary">Ara</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table comman-shadow">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Öğretmen Listesi</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> İndir</a>
                            <a asp-action="Ekle_Guncelle" asp-controller="Ogretmen" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle	</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input" type="checkbox" value="something">
                                    </div>
                                </th>
                                <th>Id</th>
                                <th>Ad</th>
                                <th>Ünvan</th>
                                <th>E-Posta</th>
                                <th>Ofis</th>
                                <th>Username</th>
                                <th>Ülke</th>
                                <th>Şehir</th>
                                <th>Görüşme Saati</th>
                                <th>Numara</th>
                                <th>Doğum Tarihi</th>
                                <th>Cinsiyet</th>
                                <th>Başlama Tarihi</th>
                                <th class="text-end">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var ogr in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check check-tables">
                                            <input class="form-check-input" type="checkbox" value="something">
                                        </div>
                                    </td>
                                    <td>@ogr.Id</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="student-details.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/panel/img/profiles/avatar-01.jpg" alt="User Image"></a>
                                            <a href="student-details.html">@ogr.OgretmenAd @ogr.OgretmenSoyad</a>
                                        </h2>
                                    </td>
                                    <td>@ogr.OgretmenUnvan</td>
                                    <td>@ogr.OgretmenEposta</td>
                                    <td>@ogr.OgretmenOfis</td>
                                    <td>@ogr.OgretmenUsername</td>
                                    <td>@ogr.OgretmenUlke</td>
                                    <td>@ogr.OgretmenSehir</td>
                                    <td>@ogr.OgretmenGorusme</td>
                                    <td>@ogr.OgretmenNumarasi</td>
                                    <td>@ogr.OgretmenDogumTarihi</td>
                                    <td>@ogr.OgretmenCinsiyet</td>
                                    <td>@ogr.OgretmenBaslamaTarihi</td>
                                    <td class="text-end">
                                        <div class="actions ">
                                            <a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
                                                <i class="feather-eye"></i>
                                            </a>
                                            <a asp-action="Ekle_Guncelle" asp-controller="Ogretmen" asp-route-id="@ogr.Id" class="btn btn-sm bg-danger-light">
                                                <i class="feather-edit"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


