@model IEnumerable<Ders>
@{
    ViewData["Title"] = "Index";
}
<div class="student-group-form">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ID'ye Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ders İsmine Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ders Hocasına Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="button" class="btn btn-primary">Ara</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Dersler</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a asp-controller="Ders" asp-action="Ekle_Guncelle" asp-route-id="0" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
                        </div>
                    </div>
                </div>

                <table class="table border-0 star-student table-hover table-center mb-0  table-striped">
                    <thead class="student-thread">
                        <tr>
                            <th>ID</th>
                            <th>Ders Kod</th>
                            <th>Ders İsim</th>
                            <th>Ders Hocası</th>
                            <th>Ders Kredi</th>
                            <th>Ders Akts</th>
                            <th>Öğrenci Sayısı</th>
                            <th class="text-end">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var ders in Model)
                        {
                            <tr>
                                <td>@ders.Id</td>
                                <td>@ders.DersKod</td>
                                <td>
                                    <h2>
                                        <a>@ders.DersAd</a>
                                    </h2>
                                </td>
                                <td>
                                    @if (@ders.Ogretmens == null)
                                    {
                                        <span>Yok</span>
                                    }
                                    else
                                    {
                                        @ders.Ogretmens.OgretmenAd
                                    }
                                </td>
                                <td>@ders.DersKredi</td>
                                <td>@ders.DersAkts</td>
                                <td>
                                    @if (ders.Bolum == null)
                                    {
                                        <span>Yok</span>
                                    }
                                    else
                                    {
                                        @ders.Bolum.Ogrencisler.Count
                                    }
                                </td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a href="javascript:;" class="btn btn-sm bg-success-light me-2">
                                            <i class="feather-eye"></i>
                                        </a>
                                        <a asp-controller="Ders" asp-action="Ekle_Guncelle" asp-route-id="@ders.Id" class="btn btn-sm bg-danger-light me-2">
                                            <i class="feather-edit"></i>
                                        </a>
                                        <a -controller="Ders" asp-action="Sil" asp-route-id="@ders.Id" class="btn btn-sm bg-danger-light">
                                            <i class="feather-trash-2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (TempData["success"] != null)
{
	<script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
	<script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>

	<script>
		var successMessage = "@TempData["success"]";

		Swal.fire({
			title: successMessage,
			icon: "success"
		});
	</script>
}
@section Scripts {
    <script src="~/panel/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/panel/plugins/sweetalert/sweetalerts.min.js"></script>
    <script>
        function confirmDelete(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Silmek İstediğinize Emin Misiniz?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet!",
                cancelButtonText: "İptal!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('@Url.Action("Sil", "Ders")', { id: id })
                        .done(() => swalWithBootstrapButtons.fire(
                            "İşlem Başarılı!",
                            !",
                            "",
                            "success"
                        ).then(() => window.location.href = '@Url.Action("Index", "Ders")'));
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire({
                        title: "İşlem İptal Edildi!",
                        text: "",
                        icon: "error"
                    });
                }
            });
        }
    </script>
}
