<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>@ViewData["Title"] - Ogrenci Bilgi Sistemi</title>

    <link rel="shortcut icon" href="~/panel/img/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/panel/plugins/feather/feather.css">
    <link rel="stylesheet" href="~/panel/plugins/icons/flags/flags.css">
    <link rel="stylesheet" href="~/panel/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/panel/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/panel/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/panel/css/ckeditor.css">
    <link rel="stylesheet" href="~/panel/css/style.css">

</head>

<body>
    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a asp-controller="Home" asp-action="index" class="logo">
                    <img src="~/panel/img/profiles/logo.png" alt="Logo">
                </a>
                <a asp-controller="Home" asp-action="index" class="logo logo-small">
                    <img src="~/panel/img/profiles/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>

            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>

            <ul class="nav user-menu">
                <li class="nav-item dropdown language-drop me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <i class="flag flag-tr"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-tr me-2"></i>Türkçe</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-us me-2"></i>English</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-fr me-2"></i>Francais</a>
                    </div>
                </li>

                <li class="nav-item dropdown noti-dropdown me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="~/panel/img/icons/header-icon-05.svg">
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Bildirimler</span>
                            <a href="javascript:void(0)" class="clear-noti"> Temizle </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/panel/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Kağan Muslu</span> size <span class="noti-title">mesaj gönderdi</span></p>
                                                <p class="noti-time"><span class="notification-time">4 dk önce</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">Tüm Bildirimleri Görüntüle</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item zoom-screen me-2">
                    <a href="#" class="nav-link header-nav-list">
                        <img src="~/panel/img/icons/header-icon-04.svg">
                    </a>
                </li>

                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <div class="user-img">
                            <img class="rounded-circle" src="https://pbs.twimg.com/profile_images/2861121762/8b50471dbedc1b0968bdb9d79a894ba3_400x400.jpeg" width="31" alt="Ryan Taylor">
                            <div class="user-text">
                                <h6>Merhaba, @User.Identity.Name</h6>
                                <p class="text-muted mb-0">Bölüm Başkan Yardımcısı</p>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="https://pbs.twimg.com/profile_images/2861121762/8b50471dbedc1b0968bdb9d79a894ba3_400x400.jpeg" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>@User.Identity.Name</h6>
                                <p class="text-muted mb-0">Bölüm Başkan Yardımcısı</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">Profilim</a>
                        <a class="dropdown-item" href="inbox.html">Gelen Kutusu</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="SifreDegistir" asp-route-id="">Şifre Değiştir</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="">Çıkış Yap</a>
                    </div>
                </li>

            </ul>

        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>

                        <li class="menu-title border-bottom mb-2">
                            <span class="text-primary"><b>ÜNİVERSİTE YÖNETİMİ</b></span>
                        </li>

                        <li>
                            <a asp-action="Index" asp-controller="Admin"><i class="fas fa-home"></i> <span>Anasayfa</span></a>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-building"></i> <span> Fakülteler</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Fakulte" asp-action="Index">Fakülte Listesi</a></li>
                                <li><a asp-controller="Fakulte" asp-action="Ekle_Guncelle" asp-route-id="0">Fakülte Ekle</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> Bölümler</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Bolum" asp-action="Index">Bölüm Listesi</a></li>
                                <li><a asp-controller="Bolum" asp-action="Ekle_Guncelle" asp-route-id="0">Bölüm Ekle</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-open"></i> <span> Dersler</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Ders" asp-action="Index">Ders Listesi</a></li>
                                <li><a asp-controller="Ders" asp-action="Ekle_Guncelle" asp-route-id="0">Ders Ekle</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-graduation-cap"></i> <span> Öğrenciler</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Ogrenci" asp-action="Index">Öğrenci Listesi</a></li>
                                <li><a asp-controller="Ogrenci" asp-action="Ekle_Guncelle" asp-route-id="0">Öğrenci Ekle</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Öğretmenler</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Ogretmen" asp-action="Index">Öğretmen Listesi</a></li>
                                <li><a asp-action="Ekle_Guncelle" asp-controller="Ogretmen" asp-route-id="0">Öğretmen Ekle</a></li>
                            </ul>
                        </li>
                        <li class="menu-title border-bottom my-3">
                            <span class="text-primary text-left"><b>DİĞER İŞLEMLER</b></span>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> Duyuru İşlemleri</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Duyuru" asp-action="Index">Duyurular</a></li>
                                <li><a asp-controller="Duyuru" asp-action="Ekle_Guncelle" asp-route-id="0">Duyuru Yayınla</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Atama İşlemleri</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-action="DersAtaGuncelle" asp-controller="Atama">Ders Atama </a></li>
                                <li><a asp-action="DanismanAtaGuncelle" asp-controller="Atama">Danışman Atama </a></li>
                                <li><a asp-action="BaskanAtaGuncelle" asp-controller="Atama">Başkan Atama </a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-calendar-alt"></i> <span>Akademik Takvim</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Takvim" asp-action="Index">Akademik Takvim</a></li>
                                <li><a asp-controller="Takvim" asp-action="Ekle_Guncelle" asp-route-id="0">Etkinlik Ekle</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-calendar-alt"></i> <span>Şifre İşlemleri</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Admin" asp-action="SifreDegistir" asp-route-id="1">Öğrenci Şifre Değiştir</a></li>
                                <li><a asp-controller="Admin" asp-action="SifreDegistir" asp-route-id="2">Öğretmen Şifre Değiştir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content container-fluid">

                

                @RenderBody()

            </div>
        </div>
        <footer>
            <p>COPYRIGHT © 2023 DREAMSTECHNOLOGIES.</p>
        </footer>
    </div>
   
   
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/panel/plugins/select2/js/select2.min.js"></script>
<script src="~/panel/js/feather.min.js"></script>
<script src="~/panel/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/panel/plugins/apexchart/apexcharts.min.js"></script>
<script src="~/panel/plugins/apexchart/chart-data.js"></script>
<script src="~/panel/js/script.js" type="d3e9fe501045cc33aa3e5f15-text/javascript"></script>
<script src="~/panel/js/rocket-loader.min.js" data-cf-settings="d3e9fe501045cc33aa3e5f15-|49" defer></script>
@RenderSection("Scripts", required: false)

</html>
