@{
    ViewData["Title"] = "Derslerim";
}
@model IEnumerable<Ogrencis>

<div class="student-group-form">
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="dersArama" placeholder="Ders İsmine Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="dersHocasıArama" placeholder="Ders Hocasına Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Dersler</h3>
                        </div>
                    </div>
                </div>

                <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                    <thead class="student-thread">
                        <tr>
                            <th>Ders Adı</th>
                            <th>Ders Hocası</th>
                            <th>Ders Kredi</th>
                            <th>Ders Akts</th>
                            <th>Ders Ödev</th>
                            <th>Ders Vize</th>
                            <th>Ders Final</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var ogrenci in Model)
                        {
                            @foreach (var ders in ogrenci.Dersler)
                            {
                                <tr>
                                    <td>@ders.DersAd</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/img/@ders.Ogretmens?.OgretmenFotograf" alt="Ogretmen Image"></a>
                                            <a>@ders.Ogretmens?.OgretmenAd @ders.Ogretmens?.OgretmenSoyad</a>
                                        </h2>
                                    </td>
                                    <td>@ders.DersKredi</td>
                                    <td>@ders.DersAkts</td>

                                    @foreach (var not in ders.notlar)
                                    {
                                        @if (not.NotOdev != null)
                                        {
                                            <td>@not.NotOdev</td>
                                        }
                                        else
                                        {
                                            <td>Not Girilmedi</td>
                                        }
                                        @if (not.NotVize != null)
                                        {
                                            <td>@not.NotVize</td>
                                        }
                                        else
                                        {
                                            <td>Not Girilmedi</td>
                                        }
                                        @if (not.NotFinal != null)
                                        {
                                            <td>@not.NotFinal</td>
                                        }
                                        else
                                        {
                                            <td>Not Girilmedi</td>
                                        }
                                    }

                                    @if (ders.notlar.Count() == 0)
                                    {
                                        <td>Not Girilmedi</td>
                                        <td>Not Girilmedi</td>
                                        <td>Not Girilmedi</td>
                                    }

                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            @if (Model.Count() == 0)
            {
                <div class="blog grid-blog flex-fill">
                    <h3 class="text-danger" style="text-align:center"> Ders Bulunmamaktadır! </h3>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function aramaYap() {
            var dersAdiInput, dersHocasıInput, dersAdiFilter, dersHocasıFilter, table, tr, td, i;
            dersAdiInput = document.getElementById("dersArama");
            dersHocasıInput = document.getElementById("dersHocasıArama");
            dersAdiFilter = dersAdiInput.value.toUpperCase();
            dersHocasıFilter = dersHocasıInput.value.toUpperCase();
            table = document.querySelector(".star-student");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                tdDersAdi = tr[i].getElementsByTagName("td")[0];
                tdDersHocası = tr[i].getElementsByTagName("td")[1];
                if (tdDersAdi && tdDersHocası) {
                    dersAdiValue = tdDersAdi.textContent || tdDersAdi.innerText;
                    dersHocasıValue = tdDersHocası.textContent || tdDersHocası.innerText;
                    if (dersAdiValue.toUpperCase().indexOf(dersAdiFilter) > -1 && dersHocasıValue.toUpperCase().indexOf(dersHocasıFilter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}