@{
    ViewData["Title"] = "Derslerim";
}
@model IEnumerable<Ogrencis>

<div class="student-group-form">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ders İsmine Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ders Hocasına Göre Ara ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn text-end">
                <button type="btn" class="btn btn-primary">Ara</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Dersler</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> İndir</a>
                            <a asp-controller="Ders" asp-action="Ekle_Guncelle" asp-route-id="0" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>

                <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                    <thead class="student-thread">
                        <tr>
                            <th>Ders Id</th>
                            <th>Ders Adı</th>
                            <th>Ders Hocası</th>
                            <th>Ders Kredi</th>
                            <th>Ders Akts</th>
                            <th>Ders Vize</th>
                            <th>Ders Final</th>
                            <th>Ders Ödev</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var ders in Model)
                        {
                            @foreach (var item in ders.Dersler)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.DersAd</td>

                                    <td>
                                        <h2>
                                            <a>@item.Ogretmens?.OgretmenAd</a>
                                        </h2>
                                    </td>
                                    <td>@item.DersKredi</td>
                                    <td>@item.DersAkts</td>

                                    @foreach (var notlar in item.notlar)
                                    {
                                        <td>@notlar.NotVize</td>
                                        <td>@notlar.NotFinal</td>
                                        <td>@notlar.NotOdev</td>
                                    }
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>