@{
    var layoutViewModel = ViewBag.LayoutViewModel as LayoutViewModel;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>@ViewData["Title"] - Ogrenci Bilgi Sistemi</title>

    <link rel="shortcut icon" href="~/panel/img/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/panel/plugins/feather/feather.css">
    <link rel="stylesheet" href="~/panel/plugins/icons/flags/flags.css">
    <link href="~/panel/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/panel/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/panel/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/panel/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/panel/css/ckeditor.css">
    <link rel="stylesheet" href="~/panel/plugins/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/panel/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/panel/css/style.css">
    <link rel="stylesheet" href="~/panel/plugins/simple-calendar/simple-calendar.css">
    <link href="~/panel/plugins/toastr/toatr.css" rel="stylesheet" />

</head>

<body>



    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a asp-controller="Ogretmen" asp-action="Index" class="logo">
                    <img src="~/panel/img/profiles/logo.png" alt="Logo">
                </a>
                <a asp-controller="Ogretmen" asp-action="Index" class="logo logo-small">
                    <img src="~/panel/img/profiles/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>

            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">
                <li class="nav-item dropdown language-drop me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <i class="flag flag-tr"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-tr me-2"></i>Türkçe</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-us me-2"></i>English</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-fr me-2"></i>Francais</a>
                    </div>
                </li>




                <li class="nav-item dropdown noti-dropdown me-2">
                    <span class="notification-badge"></span>
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="~/panel/img/icons/header-icon-05.svg">
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Bildirimler</span>
                            <a asp-action="Bildirim" name="sil" id="1" class="clear-noti"> Temizle </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a asp-action="Index" asp-controller="Duyuru">Tüm Bildirimleri Görüntüle</a>
                        </div>
                    </div>
                </li>







                <li class="nav-item zoom-screen me-2">
                    <a href="#" class="nav-link header-nav-list">
                        <img src="~/panel/img/icons/header-icon-04.svg">
                    </a>
                </li>

                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <div class="user-img">
                            <img class="rounded-circle" src="~/img/@ViewBag.fotograf" width="31" alt="@User.Identity">
                            <div class="user-text">
                                <h6>Merhaba, @ViewBag.adsoyad</h6>
                                <p class="text-muted mb-0">@ViewBag.Unvan</p>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/img/@ViewBag.fotograf" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>@ViewBag.adsoyad</h6>
                                <p class="text-muted mb-0">@ViewBag.Unvan</p>
                            </div>
                        </div>
                        <a class="dropdown-item" asp-action="Profilim" asp-controller="Ogretmen">Profilim</a>
                        <a class="dropdown-item" href="inbox.html">Gelen Kutusu</a>
                        <a class="dropdown-item" asp-action="SifreDegistir" asp-controller="Ogretmen">Şifre Değiştir</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="">Çıkış Yap</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>

                        <li class="menu-title border-bottom mb-2">
                            <span class="text-primary"><b>ÖĞRETMEN</b></span>
                        </li>
                        <li>
                            <a asp-controller="Ogretmen" asp-action="Index"><i class="fas fa-home"></i> <span>Anasayfa</span></a>
                        </li>

                        <li>
                            <a asp-controller="Ogrenci" asp-action="OgrenciListem"><i class="fas fa-graduation-cap"></i> <span>Öğrenci Listem</span></a>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-sticky-note"></i> <span> Not İşlemleri</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Not" asp-action="Index">Öğrenci Notları</a></li>
                                <li><a asp-controller="Not" asp-action="Ekle_Guncelle">Not Ekle</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-book"></i> <span> Ders İşlemleri</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Ders" asp-action="Ogretmen_Derslerim">Verilen Dersler</a></li>
                                <li><a asp-controller="Ders" asp-action="DersProgramı">Ders Programı</a></li>
                            </ul>
                        </li>

                        <li>
                            <a asp-controller="Fakulte" asp-action="DanısmanOgrenciler" value="">
                                <i class="fas fa-user-graduate"></i><span>
                                    Danışmanı Olduğum
                                    <br />
                                    Öğrenciler
                                </span>
                            </a>
                        </li>

                        <li class="menu-title border-bottom my-3">
                            <span class="text-primary text-left"><b>DİĞER İŞLEMLER</b></span>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-bullhorn"></i> <span> Duyuru İşlemleri</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Duyuru" asp-action="Index">Duyurular</a></li>
                                <li><a asp-controller="Duyuru" asp-action="Ekle_Guncelle">Duyuru Yayınla</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Fakulte" asp-action="AkademikTakvim"><i class="fas fa-table"></i> <span>Akademik Takvim</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content container-fluid">

                @RenderBody()

            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/panel/plugins/select2/js/select2.min.js"></script>
    <script src="~/panel/js/feather.min.js"></script>
    <script src="~/panel/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/panel/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/panel/plugins/apexchart/chart-data.js"></script>
    <script src="~/panel/js/moment.min.js"></script>
    <script src="~/panel/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/panel/js/jquery-ui.min.js"></script>
    <script src="~/panel/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/panel/plugins/fullcalendar/jquery.fullcalendar.js"></script>
    <script src="~/panel/js/script.js"></script>
    <script src="~/panel/js/rocket-loader.min.js" data-cf-settings="d3e9fe501045cc33aa3e5f15-|49" defer></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/panel/plugins/toastr/toastr.min.js"></script>
    <script src="~/panel/plugins/toastr/toastr.js"></script>
    <script src="~/panel/plugins/simple-calendar/jquery.simple-calendar.js"></script>
    <script src="~/panel/js/calander.js"></script>
    <script src="~/panel/js/jquery.maskedinput.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script>


        $(document).ready(() => {
            const connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7274/SignalRHub").build();

            connection.start().then(function () {
                bildirimcagir()
            }).catch(function (err) {
                return console.error(err.toString());
            });

            function bildirimcagir() {
                $.ajax({
                    url: '@Url.Action("Bildirim", "Duyuru")',
                    type: 'GET',
                    success: function (data) {
                        var okunmamisbildirim = data.filter(function (item) {
                            return item.bildirimOkunma === false;
                        });
                        var okunmamissayi = okunmamisbildirim.length;
                        if (okunmamissayi > 0) {
                            $('.notification-badge').text(okunmamissayi).show();
                        } else {
                            $('.notification-badge').hide();
                        }

                        data.forEach(function (item) {

                            let ilkbeskelime = item.bildirimDuyuru.split(" ").slice(0, 5).join(" ");

                            $(".notification-list").prepend('<li class="notification-message"><a  data-id="' + item.id + '"" ><div class="row"><div class="col-10"><div class="media d-flex"><div class="media-body flex-grow-1"><p class="noti-details"><span class="noti-title">' + (item.bildirimOkunma == false ? '<strong>' + item.bildirimBaslik + '</strong>' : item.bildirimBaslik) + '</span></p><p class="noti-details"><span class="noti-title">' + (item.bildirimOkunma == false ? '<strong>' + ilkbeskelime + '</strong>' : ilkbeskelime) + "..." + '</span></p><p class="noti-time"><span class="notification-time">' + new Date().toLocaleString() + '</span></p></div></div></div></div></a></li>');

                        });

                    },
                    error: function (xhr, status, error) {
                        // Hata durumunda yapılacak işlemler
                        console.error(error);
                    }

                });
            }


            connection.on("ReceiveDuyuru", function (baslik, mesaj) {

                connection.invoke("DuyuruBildirim", baslik, mesaj)
                    .then(function () {
                        console.log("Başarılı");
                    })
                    .catch(function (err) {
                        console.error("Hata:" + err);
                    });
            });


            connection.on("Bildirim", function (baslik, mesaj) {

                var ilkBesKelime = mesaj.split(" ").slice(0, 5).join(" ");
                toastr.success(ilkBesKelime + "...", "Duyuru Var!!", {
                    closeButton: true,
                    tapToDismiss: false,
                    progressBar: true,
                });
                bildirimcagir()
            });

            $(document).on('click', '.notification-message a', function () {

                var id = $(this).data('id');
                fetch('@Url.Action("Bildirim", "Duyuru")/' + id)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                            console.log("Hata");
                        }
                        bildirimcagir()
                    })
            });
        });

        // jquery mask
        $(document).ready(function () {
            $("input[name=saat]").mask("99:99")
        })
    </script>
</body>
</html>
