@model IEnumerable<Ders>
@{
    ViewData["Title"] = "OgrenciListem";
}


<div class="student-group-form">
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="ogrenciAdiArama" placeholder="Öğrenci İsmine Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="bolumAdiArama" placeholder="Öğrenci Bölümüne Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Öğrencilerim</h3>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0  table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>Ad-Soyad</th>
                                <th>Sınıfı</th>
                                <th>Bölümü</th>
                                <th>Doğum Tarihi</th>
                                <th>E-Mail</th>
                                <th>Telefon Numarası</th>
                                <th class="text-end">Kayıt Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var ders in Model) // Modeldeki her öğrenci için döngü
                            {
                                foreach (var ogr in ders.Ogrencisler)
                                {
                                    
                                    <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="student-details.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/img/@ogr.OgrenciFotograf" alt="User Image"></a>
                                            <a href="student-details.html">@ogr.OgrenciAd @ogr.OgrenciSoyad</a>
                                        </h2>
                                    </td>
                                    <td>@ogr.OgrenciSinif</td>
                                    <td>@ders.Bolum?.BolumAd</td>
                                    <td>@ogr.OgrenciDogumTarihi</td>
                                    <td>@ogr.OgrenciEposta</td>
                                    <td>@ogr.OgrenciTelefon</td>
                                    <td>@ogr.OgrenciKayitTarihi</td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    function aramaYap() {
        var ogrenciAdiInput, bolumAdiInput, ogrenciAdiFilter, bolumAdiFilter, table, tr, td, i;
        ogrenciAdiInput = document.getElementById("ogrenciAdiArama");
        bolumAdiInput = document.getElementById("bolumAdiArama");
        ogrenciAdiFilter = ogrenciAdiInput.value.toUpperCase();
        bolumAdiFilter = bolumAdiInput.value.toUpperCase();
        table = document.querySelector(".star-student");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            tdOgrenciAdi = tr[i].getElementsByTagName("td")[0];
            tdBolumAdi = tr[i].getElementsByTagName("td")[2];
            if (tdOgrenciAdi && tdBolumAdi) {
                ogrenciAdiValue = tdOgrenciAdi.textContent || tdOgrenciAdi.innerText;
                bolumAdiValue = tdBolumAdi.textContent || tdBolumAdi.innerText;
                if (ogrenciAdiValue.toUpperCase().indexOf(ogrenciAdiFilter) > -1 && bolumAdiValue.toUpperCase().indexOf(bolumAdiFilter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
}