@model IEnumerable<Ders>
@{
    ViewData["Title"] = "OgrenciListem";
}


<div class="student-group-form">
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="ogrenciAdiArama" placeholder="Öğrenci İsmine Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
        <div class="col-lg-5 col-md-7">
            <div class="form-group">
                <input type="text" class="form-control" id="bolumAdiArama" placeholder="Öğrenci Bölümüne Göre Ara ..." oninput="aramaYap()">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Öğrencilerim</h3>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0  table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>Ad-Soyad</th>
                                <th>Sınıfı</th>
                                <th>Ders Adı</th>
                                <th>Bölüm Adı</th>
                                <th>Doğum Tarihi</th>
                                <th>E-Mail</th>
                                <th>Telefon Numarası</th>
                                <th class="text-end">Kayıt Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var ders in Model) // Modeldeki her öğrenci için döngü
                            {
                                foreach (var ogr in ders.Ogrencisler)
                                {
                                    
                                    <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="student-details.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/img/@ogr.OgrenciFotograf" alt="User Image"></a>
                                                <button type="button" class="btn btn-sm bg-success-light me-2" data-bs-toggle="modal" data-bs-target="#@ogr.OgrenciAd@ogr.Id">@ogr.OgrenciAdSoyad</button>
                                            </h2>
                                    </td>
                                    <td>@ogr.OgrenciSinif</td>
                                    <td>@ders.Bolum?.BolumAd</td>
                                    <td>@ders.DersAd</td>
                                    <td>@ogr.OgrenciDogumTarihi</td>
                                    <td>@ogr.OgrenciEposta</td>
                                    <td>@ogr.OgrenciTelefon</td>
                                    <td>@ogr.OgrenciKayitTarihi</td>
                                </tr>

                                //Modal

                                    <div class="modal fade" id="@ogr.OgrenciAd@ogr.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div style="background-color:ghostwhite; border-radius:20px;" class="modal-content">
                                                <div style="background-color:royalblue" class="modal-header ">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col text-center" style="height:30px;">
                                                                <h4 style="color:aliceblue " class="modal-title"><b>ÖĞRENCİ DETAY</b></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto profile-image" style="position: absolute; top:10px; left: 0;">
                                                            <img class="rounded-circle" alt="User Image" src="~/img/@ogr.OgrenciFotograf" width="60" height="60" />
                                                        </div>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="col-sm-8" style="margin-left: 75px; margin-top:15px;">
                                                                        <p class="text-uppercase"><b>@ogr.OgrenciAdSoyad</b></p>
                                                                    </div>
                                                                </div>
                                                                <div class="col" style="margin-top:2px;">
                                                                    <div class=" p-3"><b>@ogr.Bolum?.BolumAd</b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-4">
                                                            <p class="col-sm-4 text-sm-start mb-0 mb-sm-3"><b>KİMLİK NUMARASI:</b></p>
                                                            <p class="col-sm-8">@ogr.OgrenciTc</p>
                                                        </div>
                                                        <div class="row">
                                                            <p class="col-sm-4 text-sm-start mb-0 mb-sm-3"><b>DOĞUM TARİHİ:</b></p>
                                                            <p class="col-sm-8">@ogr.OgrenciDogumTarihi</p>
                                                        </div>
                                                        <div class="row">
                                                            <p class="col-sm-4 text-sm-start mb-0 mb-sm-3"><b>E-MAİL ADRESİ:</b></p>
                                                            <p class="col-sm-8">@ogr.OgrenciEposta</p>
                                                        </div>
                                                        <div class="row">
                                                            <p class="col-sm-4 text-sm-start mb-0 mb-sm-3"><b>CİNSİYET:</b></p>
                                                            <p class="col-sm-8">@ogr.OgrenciCinsiyet</p>
                                                        </div>
                                                        <div class="row">
                                                            <p class="col-sm-4 text-sm-start mb-0 mb-sm-3"><b>TELEFON NUMARASI:</b></p>
                                                            <p class="col-sm-8">@ogr.OgrenciTelefon</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    function aramaYap() {
        var ogrenciAdiInput, bolumAdiInput, ogrenciAdiFilter, bolumAdiFilter, table, tr, td, i;
        ogrenciAdiInput = document.getElementById("ogrenciAdiArama");
        bolumAdiInput = document.getElementById("bolumAdiArama");
        ogrenciAdiFilter = ogrenciAdiInput.value.toUpperCase();
        bolumAdiFilter = bolumAdiInput.value.toUpperCase();
        table = document.querySelector(".star-student");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            tdOgrenciAdi = tr[i].getElementsByTagName("td")[0];
            tdBolumAdi = tr[i].getElementsByTagName("td")[2];
            if (tdOgrenciAdi && tdBolumAdi) {
                ogrenciAdiValue = tdOgrenciAdi.textContent || tdOgrenciAdi.innerText;
                bolumAdiValue = tdBolumAdi.textContent || tdBolumAdi.innerText;
                if (ogrenciAdiValue.toUpperCase().indexOf(ogrenciAdiFilter) > -1 && bolumAdiValue.toUpperCase().indexOf(bolumAdiFilter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
}