@model IEnumerable<Ogrencis>
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Profil</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profil</li>
                </ul>
            </div>
        </div>
    </div>
    @foreach (var ogrt in Model)
    {
    <div class="row">
        <div class="col-md-12">
            <div class="profile-header">
                <div class="row align-items-center">
                    <div class="col-auto profile-image">
                        <a href="#">
                                <img class="rounded-circle" alt="User Image" src="~/img/@ogrt.OgrenciFotograf" />
                        </a>
                    </div>
                    <div class="col ms-md-n2 profile-user-info">
                        <h4 class="user-name mb-0">@ogrt.OgrenciAd @ogrt.OgrenciSoyad</h4>
                        <h6 class="text-muted">Öğrenci</h6>
                        <div class="user-Location"><i class="fas fa-map-marker-alt"></i> @ogrt.Adres.Sehir / @ogrt.Adres.Ulke</div>
                        <div class="about-text">@ogrt.Fakulte.FakulteAd / @ogrt.Bolum.BolumAd</div>
                    </div>
                    <div class="col-auto profile-btn">
                        <a href class="btn btn-primary">
                            Düzenle
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-content profile-tab-cont">

                <div class="tab-pane fade show active" id="per_details_tab">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <h5 class="text-end">Kullanıcı Detayları</h5>
                                        </div>
                                        <div class="col-5 ">
                                            <p class="edit-link text-end" data-bs-toggle="modal" href="#edit_personal_details"><i class="far fa-edit me-1"></i>Düzenle</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Tc Kimlik Numarası:</p>
                                                <p class="col-sm-6">@ogrt.OgrenciTc</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Ad:</p>
                                                <p class="col-sm-6">@ogrt.OgrenciAd</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Soyad:</p>
                                                <p class="col-sm-6">@ogrt.OgrenciSoyad</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Doğum Tarihi:</p>
                                                <p class="col-sm-6">@ogrt.OgrenciDogumTarihi</p>
                                            </div>                                          
                                        </div>
                                        <div class="col-sm-6">
                                             <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">E mail Adresi:</p>
                                                <p class="col-sm-6">@ogrt.OgrenciEposta</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Cinsiyet:</p>
                                                <p class="col-sm-6">@ogrt.OgrenciCinsiyet</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Telefon Numarası:</p>
                                                <p class="col-sm-6">@ogrt.OgrenciTelefon</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0">Adres:</p>
                                                <p class="col-sm-6 mb-0">@ogrt.Adres.AcıkAdres</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
